rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // fault_photos: anyone can upload, nobody can read from app
    match /fault_photos/{allPaths=**} {
      allow write: if true;
      allow read: if false;
    }
  }
}
